/* General Things.. 

font-family: 'Shizuru', cursive;
font-family: 'Vujahday Script', cursive;

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Shizuru', cursive;
    font-size: 20px;
    background-image: url(assets/img/bg_pirates4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}


/* .clearfix {
    zoom: 1
}

.clearfix:after {
    display: block;
    height: 0;
    content: '.';
    visibility: hidden;
    clear: both;
} */


/* -Header Design- */

.header-div {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#IntroText {
    font-family: 'Shizuru', cursive;
    font-style: bold;
    line-height: 1.5;
}

#WelcomeText {
    font-family: 'Shizuru', cursive;
    /* font-style: bold; */
    line-height: 1.5;
}

.intro-div {
    top: 20%;
    background-attachment: fixed;
}


/* -Card div Design- */

.card-section-div {
    /* height: 100vh; */
}

#FirstImage {
    position: absolute;
    top: 35%;
    left: 40%;
}

#SecondImage {
    position: absolute;
    top: 35%;
    left: 25%;
}

#ThirdImage {
    position: absolute;
    top: 33%;
    left: 33%;
}

#FourthImage {
    position: absolute;
    top: 35%;
    left: 30%;
}

#FifthImage {
    position: absolute;
    top: 40%;
    left: 40%;
}

#SixthImage {
    position: absolute;
    top: 36%;
    left: 37%;
}

#SeventhImage {
    position: absolute;
    top: 35%;
    left: 30%;
}

#EighthImage {
    position: absolute;
    top: 30%;
    left: 40%;
}

#NinethImage {
    position: absolute;
    top: 37%;
    left: 43%;
}


/* -Other Designs- */

#ContinueText {
    font-family: 'Vujahday Script', cursive;
}